/*Enlaces interactivos*/

a:hover {
    transform: scale(1.05); /* pequeño aumento de tamaño */
    filter: brightness(1.2); /* más brillo */
    transition: all 0.3s ease; /* animación suave */
}

/*Modificacion de la resolucion*/

video{
    padding-top: 200px;
    width: 700px;
}
/*Menu*/ 

.barra{ 
    border: 5px solid blue; 
    width: 99,5%;
} 

.menu{ 
    flex-wrap: wrap;
    font-family:'Courier New', Courier, monospace; font-size: 40px; 
    justify-content: space-around; 
} 

.menu li{ 
    list-style: none; 
} 

.menu a{ 
    text-decoration: none; color: blue; 
} 

/*Aplicante*/ 

.flex{ 
    display: flex; 
} 

/*Atributos de palabras*/ 

h1, h2, h3{ 
    font-size: 60px; font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; color: blue; 
} 

.titulos{ 
    justify-content: center;
    font-size: 80px; 
} 

h1{
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
} 

h2{ 
    font-family: 'Courier New', Courier, monospace; font-size: 40px; 
    justify-content: center; padding-top: 80px; 
} 

p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/*Centrados generales*/ 

.centrador{ 
    width: auto;
    padding-top: 50px; 
    gap: 80px;
    flex-wrap: wrap;
} 

.centrar{
    justify-content: center; 
}

.centrador_dentro_barra img{ 
    height: 400px; /*o la altura que desees*/
    width: 400px;
    object-fit: contain; /*evita deformaciones*/
    margin: 0 10px; /*separa las imágenes*/
}

/*Fondo*/

body {
    background-image: url("img/fullsize/background.jpg"); /* ruta de mi imagen */
    background-size: cover; /* hace que cubra toda la pantalla */
}

/*Barras_Separadas*/

main {
    margin-top: 20px; /* espacio entre header y main */
}


/*Botones*/

.between { 
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: blue;
    margin-top: 300px;
    padding: 10px;
} 

.between a{
    padding: 10px;
    background-color: white;
    border: 10px;
    border-radius: 10px;
}


/*Contenedores experimentales*/

.barra-palabra{
    padding: 20px;
}

.barraa {
    border: solid;
    flex: 1; /* cada barra ocupa el mismo espacio */
    border-radius: 8px;
    margin: 20px;
    flex-wrap: wrap;
    background-color: rgb(0, 195, 255);
}

.barraa-1{
    border: solid;
    border-radius: 8px;
    margin: 20px;
    flex-wrap: wrap;
}

.barraex{
    border: solid;
    flex: 1;
    margin: 20px;
    background-color: rgb(0, 140, 255);

}
 
.lista{
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
    padding: 20px;
    margin: 20px;
}

.lista a{
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
    text-decoration: none;
}

.lista ul{
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
}
